<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

<servlet>
    <servlet-name>Initparameter</servlet-name>
    <jsp-file>/passingParameter.jsp</jsp-file>
    <init-param>
        <param-name>defaultUser</param-name>
        <param-value>default user value</param-value>
    </init-param>
</servlet>
<servlet-mapping>
    <servlet-name>Initparameter</servlet-name>
    <url-pattern>/initparam</url-pattern>
</servlet-mapping>
</web-app>

